.logo {
    width: 120px;
    transition: opacity 0.2s;
}

.logo:hover {
    opacity: 0.7;
}

.loginBtn {
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: 18px;
}

.loginBtn> :last-child {
    margin-left: 5px;
}