.h1 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 16px 0;
}

.h2 {
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    margin: 8px 0;
}

.h3 {
    font-size: 16px;
}

.h4 {
    font-size: 14px;
    text-align: left;
    margin: 8px 0;
}

.p1 {
    font-size: 16px;
    text-align: justify;
}

.p2 {
    font-size: 14px;
    text-align: justify;
}

.p4 {
    font-size: 14px;
    text-align: left;
}