$white: white;
.postHero {
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.img {
    width: 800px;
}

.editInput {
    min-width: 500px;
}

.contents {
    display: flex;
}

.text {
    padding: 40px;
}